*{
    height: 100vh;  /* view-height*/
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: rgb(38, 186, 164);
}
.tph{
    position: absolute;
    top: 100px;
    left: 0px;
    background:transparent;
}
#tph-png{
    background:transparent;
    height: 700px;
}
.container{
    position: absolute;
    top: 100px;
    right: 150px;
    background: transparent;
    
}
.container p{
    background: transparent;
    font-weight: 400;
    font-size: xx-large;
}
span{
    background: transparent;
    font-weight: bolder;
    font-weight: 600;
    font-size: xx-large;
}
.QR-code{
    position: absolute;
    top: 295px;
    right: 270px;
}
.container-2{
    position: absolute;
    top: 600px;
    right: 150px;
    background: transparent;
}

.container-2 p{
    background: transparent;
    font-weight: 400;
    font-size: large;
    width: 600px;
    text-align: center;
}
