*{
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: rgb(38, 186, 164);
    font-size: 18px;
    list-style: none;
}

header{
    height: 3rem;
}

.tph{
    display: inline-block;
    position: relative;
    top: 1rem;
    left: 0px;
    background:transparent;
}

#tph-png{
    display: flex;
    background:transparent;
    height: 700px;
}

h1{
    position:absolute;
    top: 100px;
    left: 280px;
    font: bold;
    font-size: xx-large;
}

#logo{
    background-color: hsl(210, 10%, 33%);
    position: absolute;
    top: 220px;
    left: 250px;
    border-radius: 50px;
}

#fb{
    position: absolute;
    top: 510px;
    left: 230px;
    border-radius: 10px;
}

#insta{
    position: absolute;
    top: 510px;
    left: 330px;
}

#twitter{
    position: absolute;
    top: 510px;
    left: 430px;
}

.container-1{
    display: flex;
    position:relative;
    bottom: 35rem;
    left: 50rem;
    background: transparent;
}

.container-1 p{
    display: inline-block;
    background: transparent;
    font-weight: 400;
    font-size: xx-large;
}

strong{
    display: inline-block;
    background: transparent;
    font-weight: bolder;
    font-weight: 600;
    font-size: xx-large;
}

.QR-code{
    background: transparent;
    display: flex;
    position: relative;
    bottom: 35rem;
    left: 57rem;
}

.container-2{
    position: relative;
    bottom: 35rem;
    left: 49rem;
    background: transparent;
}

.container-2 p{
    background: transparent;
    font-weight: 400;
    font-size: large;
    width: 600px;
    text-align: center;
}

.links {
    display:inline-flex;
    align-items: center;
    position: relative;
    left: 49rem;
    bottom: 35rem; 
    background: transparent;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    padding: 0 2rem;    
}

a{
    background: transparent;
    text-decoration:none; 
    color:  hsl(210, 10%, 33%);
    font-weight: bold;
}

span{
    background: transparent;
    position: relative;
    bottom: 2rem;
    left: 0.5rem;
}

#free{
    text-align: center;
    display: none;
    font-style: oblique;
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline;
    background: transparent;
    position: absolute;
    bottom: 15rem;
    left: 45%;
}

#arrow{
    visibility: hidden;
    display: inline-block;
    position: absolute;
    bottom: 8rem;
    background: transparent;
}

#download{
    text-align: center;
    visibility: hidden;
    display: inline-block;
    position: absolute;
    bottom: 4rem;
    text-decoration: overline;
    font-weight: bolder;
}
@media screen and (max-width:376px) {
    *{
        width: 100%;
    }

    .tph{
        visibility: hidden;
    }

    .container-1{
        text-align: center;
        display: flex;
        position: relative;
        bottom: 35rem;
        left: 0;
    }

    .container-1 p{
        display: inline-block;
        width: fit-content;
    }

    .QR-code{
        visibility: none;
        display: none;
    }

    .container-2{
        visibility: none;
        position: relative;
        display: none;
        bottom: 30rem;
        left: 38rem;
    }

    .links {
        visibility: none;
        display:none;
    }

    #free{
        display: flex;
        visibility: visible;
    }

    #arrow{
        visibility: visible;
    }

    #download{
        visibility: visible;
    }

}
